<phpunit
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	backupStaticAttributes="true"
	bootstrap="./tests/bootstrap.php"
>
	<testsuites>
		<testsuite name="SecurityCheckPlugin Tests">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>
</phpunit>
